@charset "UTF-8";

   #mailMainBox {
      display: flex;
      height: 80%;
      width: 70%;
      margin: 0 auto;
      margin-top: 100px;
   }
   #mailSideBox {
      background-color: #FDFDFD;
      box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.1);
      padding: 25px;
      border-radius: 10px;
      width: 17vw;
   }
   #mailSideBox > div {
      margin-bottom: 35px;      
      margin-top: 20px;
   }
   #mailSideBox > div > a {
      padding: 5px 0;
      padding-right: 30px;
      padding-left: 10px;
      width: 35vw;
      text-decoration: none;
      color: black;
      font-size: 25px;
   }
   #mailSideBox > div > a:hover {
      font-weight: bold;
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
      color: white;
      background-color: #3E64FF;
   }
    #selectMailBox {
      width: 35vw;
      height: 69vh;
      margin-left: 120px;
      background-color: white;
      box-shadow: 0 5px 8px -3px rgba(0,0,0,0.2);
      color: #353535;
      padding: 15px;
      overflow-y: scroll;
      overflow-x: hidden;
   }
   #selectMailBox::-webkit-scrollbar {
      display: none;
   }
  
   .selectMWriter {
      font-size: 22px;
      margin-top: 20px;
      padding-left: 15px;
   }
   .selectMDate {
      font-size: 18px;
      text-align: right;
      color: #8B8B8B;
      padding: 10px;
      border-bottom: 2px solid #eae9eb;
   }
   .selectMTitle {
      margin-top: 20px;
      font-size: 28px;
      padding: 10px 0;
      padding-left: 50px;
      font-weight: bold;
      border-bottom: 2px solid #eae9eb;
   }
   .selectMContent {
      font-size: 22px;
      margin-top: 80px;
      padding-left: 15px;
      white-space: pre;
      height: 45%;
      border-bottom: 2px solid #eae9eb;
   }
   .selectMFilesWrap{
      padding: 5px 10px;
   }
   .selectMFiles{
       display: flex;
       flex-flow: wrap;
       overflow-y: scroll hidden;
   }
   .selectMFiles > p {
      padding: 5px 10px;
   }
   
