@charset "UTF-8";

	#mailMainBox {
		display: flex;
		height: 80%;
		width: 70%;
		margin: 0 auto;
		margin-top: 100px;
	}

	#mailSideBox {
		background-color: #FDFDFD;
		box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.1);
		padding: 25px;
		border-radius: 10px;
		width: 17vw;
	}
	#mailSideBox > div {
		margin-bottom: 35px;		
		margin-top: 20px;
	}
	#mailSideBox > div > a {
		padding: 5px 0;
		padding-right: 30px;
		padding-left: 10px;
		width: 35vw;
		text-decoration: none;
		color: black;
		transition-duration: 0.5s;
		font-size: 25px;
	}
	#mailSideBox > div > a:hover {
		font-weight: bold;
		border-top-right-radius: 50px;
		border-bottom-right-radius: 50px;
		color: white;
		transition-duration: 0.5s;
		background-color: #3E64FF;
	}
	.mailSearchBox  {
		width: 15vw;
	}
	.mailSearchBox > input[type='text'] {
      all: unset;
	  cursor: pointer;
	  padding: 5px 10px;
      border-radius : 5px;
      border: 1px solid #f0f0f0;
      box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.1);
   }
	.mailSearchBox  > input[type='submit'] {
		all: unset;
		cursor: pointer;
		padding: 5px 10px;
		border-radius : 5px;
		border: 1px solid #f0f0f0;
		box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.1);
	}
	.mailSearchBox  > input[type='submit']:hover {
		background-color: black;
		color: white;
		transition-duration: 0.3s;
		box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.1);	
	}
	#mail_column > #mail_delete_select {
	  all: unset;
	  cursor: pointer;
	  padding: 5px 10px;
      border-radius : 5px;
      border: 1px solid #f0f0f0;
      box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.1);
      margin: 5px auto;
	}
	#mail_column > #mail_delete_select > option {
	  all: unset;
	  cursor: pointer;
	  padding: 5px 10px;
      border-radius : 5px;
	}
	#sendMailBox {
		width: 38vw;
		margin-left: 140px;
		padding: 0 15px;
		padding-top: 30px;
	}
	.mailDeleteButton > input[type="button"] {
		all: unset;
		cursor: pointer;
		padding: 5px 10px;
		border-radius : 5px;
		border: 1px solid #f0f0f0;
		box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.1);
		margin: 10px 0;
	}
	.mailDeleteButton > input[type="button"]:hover {
		background-color: black;
		color: white;
		transition-duration: 0.3s;
		box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.1);	
	}
	#sendMailBox > table {
		border-collapse: collapse;
		border-spacing: 0;
		width: inherit;
		background-color: white;
		max-height: 550px;
		box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.1);
	}
	#sendMailBox > table > thead > tr > th {
		font-size: 18px;
		background-color: #F4F1F1;
		color: #3D3D3D;
		font-weight: 500;
		padding: 6px 0;
	}
	#sendMailBox > table > thead > tr > .mailTitle {
		width: 10vw;
	}
	#sendMailBox > table > tbody >  tr > td {
		text-align: center;
		font-size: 15px;
		font-style: none;
		color: #272727;
		padding: 9px;
	}
	#sendMailBox > table > tbody >  tr > td > a {
		color: #272727;
		text-decoration: none;
	}
	#mail_foot {
		text-align: center;
		position: absolute;
		top: 88%;
		left: 67%;
	}
	#mail_foot > #mail_paging > a {
		text-decoration: none;
		color: #515151;
	}